<div class="card bg-light justify-content-center" style="height:100px;" *ngIf="articleService.loading">
  <h3 class="text-center">Makale yükleniyor</h3>
  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>

<div class="articleWarapper" *ngIf="!articleService.loading">
  <div class="card border-primary">
    <div class="card-header">
      <h3>{{ article.title }}</h3>
      <div>
        <span class="badge badge-pill badge-dark">
          <i class="fa fa-calendar"></i> {{article.publishDate | date:'dd.MM.yyyy'}}
        </span>
        <span class="mr-1"></span>
        <span class="badge badge-pill badge-success">
          <i class="fa fa-folder"></i> {{category.name}}
        </span>
        <span class="mr-1"></span>
        <span class="badge badge-pill badge-success">
          <i class="fa fa-eye"></i> {{article.viewCount}}
        </span>
        <span class="mr-1"></span>
        <span class="badge badge-pill badge-primary">
          <i class="fa fa-comment"></i> {{article.commentCount}}
        </span>
      </div>
    </div>
    <div class="card-body">
      <div class="ck ck-content" [innerHTML]="article.contentMain"></div>
    </div>
  </div>
  <app-add-comment></app-add-comment>
</div>
