/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.form-container
{
  display: flex;
  flex-direction: column;
}
.form-container>div
{
  width: 100% !important;
}
.form-container>button {
  width: fit-content !important;
}
